<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>judge_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,214},{131,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,210}}</string>
                <key>sourceSize</key>
                <string>{131,210}</string>
            </dict>
            <key>judge_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{131,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,210}}</string>
                <key>sourceSize</key>
                <string>{131,210}</string>
            </dict>
            <key>judge_body_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,234},{176,228}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,2},{176,228}}</string>
                <key>sourceSize</key>
                <string>{234,232}</string>
            </dict>
            <key>judge_body_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{212,230}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,230}}</string>
                <key>sourceSize</key>
                <string>{234,232}</string>
            </dict>
            <key>judge_body_2right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,230}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{212,230}}</string>
                <key>sourceSize</key>
                <string>{234,232}</string>
            </dict>
            <key>judge_body_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{176,230}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{176,230}}</string>
                <key>sourceSize</key>
                <string>{234,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>judgement.png</string>
            <key>size</key>
            <string>{527,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84eaeb19db3db4655e3aceb6c2b52627:1/1$</string>
            <key>textureFileName</key>
            <string>judgement.png</string>
        </dict>
    </dict>
</plist>
