<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>find_head_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,712},{138,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,159}}</string>
                <key>sourceSize</key>
                <string>{138,159}</string>
            </dict>
            <key>find_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{140,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,258}}</string>
                <key>sourceSize</key>
                <string>{140,258}</string>
            </dict>
            <key>happy_1_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,964},{194,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,221}}</string>
                <key>sourceSize</key>
                <string>{194,221}</string>
            </dict>
            <key>happy_2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{212,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,221}}</string>
                <key>sourceSize</key>
                <string>{212,221}</string>
            </dict>
            <key>hit_head_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1064},{136,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,159}}</string>
                <key>sourceSize</key>
                <string>{136,159}</string>
            </dict>
            <key>hit_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{310,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,392}}</string>
                <key>sourceSize</key>
                <string>{310,392}</string>
            </dict>
            <key>sprint_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1049},{178,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,208}}</string>
                <key>sourceSize</key>
                <string>{178,208}</string>
            </dict>
            <key>stand_by_head_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>stand_by_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,424},{122,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,130}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>walk_1_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,785},{311,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,262}}</string>
                <key>sourceSize</key>
                <string>{311,262}</string>
            </dict>
            <key>walk_2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,520},{332,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,263}}</string>
                <key>sourceSize</key>
                <string>{332,263}</string>
            </dict>
            <key>walk_3_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{311,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,262}}</string>
                <key>sourceSize</key>
                <string>{311,262}</string>
            </dict>
            <key>walk_head_1_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,520},{164,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,190}}</string>
                <key>sourceSize</key>
                <string>{164,190}</string>
            </dict>
            <key>walk_head_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1187},{137,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,159}}</string>
                <key>sourceSize</key>
                <string>{137,159}</string>
            </dict>
            <key>win_body_1_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{420,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,516}}</string>
                <key>sourceSize</key>
                <string>{420,516}</string>
            </dict>
            <key>win_body_2_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,516}}</string>
                <key>sourceSize</key>
                <string>{420,516}</string>
            </dict>
            <key>win_face_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,736},{195,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,226}}</string>
                <key>sourceSize</key>
                <string>{195,226}</string>
            </dict>
            <key>win_head_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,852},{182,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,210}}</string>
                <key>sourceSize</key>
                <string>{182,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redRole.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0013aff756e3f2c8920002cd0e0d935e:1/1$</string>
            <key>textureFileName</key>
            <string>redRole.png</string>
        </dict>
    </dict>
</plist>
