<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{118,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,77}}</string>
                <key>sourceSize</key>
                <string>{118,77}</string>
            </dict>
            <key>bang.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{199,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,172}}</string>
                <key>sourceSize</key>
                <string>{199,172}</string>
            </dict>
            <key>bang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,392},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>bang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,479},{17,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,49}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>bang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,259},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>bang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,122},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>button_molest.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,248},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>button_run_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,248},{191,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,113}}</string>
                <key>sourceSize</key>
                <string>{191,113}</string>
            </dict>
            <key>button_run_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,248},{191,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,113}}</string>
                <key>sourceSize</key>
                <string>{191,113}</string>
            </dict>
            <key>countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,223}}</string>
                <key>sourceSize</key>
                <string>{276,223}</string>
            </dict>
            <key>countdown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,411},{64,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,192}}</string>
                <key>sourceSize</key>
                <string>{64,192}</string>
            </dict>
            <key>countdown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{196,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,191}}</string>
                <key>sourceSize</key>
                <string>{196,191}</string>
            </dict>
            <key>countdown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{198,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,191}}</string>
                <key>sourceSize</key>
                <string>{198,191}</string>
            </dict>
            <key>countdown_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,176},{256,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,123}}</string>
                <key>sourceSize</key>
                <string>{256,123}</string>
            </dict>
            <key>end_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,202},{540,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,44}}</string>
                <key>sourceSize</key>
                <string>{540,44}</string>
            </dict>
            <key>hit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,301},{109,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,171}}</string>
                <key>sourceSize</key>
                <string>{109,171}</string>
            </dict>
            <key>hit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{175,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,159}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>hit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,363},{158,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,135}}</string>
                <key>sourceSize</key>
                <string>{158,135}</string>
            </dict>
            <key>hit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,301},{133,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,129}}</string>
                <key>sourceSize</key>
                <string>{133,129}</string>
            </dict>
            <key>hit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{258,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,197}}</string>
                <key>sourceSize</key>
                <string>{258,197}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{119,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,23}}</string>
                <key>sourceSize</key>
                <string>{119,23}</string>
            </dict>
            <key>you_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,310},{102,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,80}}</string>
                <key>sourceSize</key>
                <string>{102,80}</string>
            </dict>
            <key>you_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,122},{135,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,45}}</string>
                <key>sourceSize</key>
                <string>{135,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1089,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d416d4ea507e6fab44c60bb98548df15:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
