<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,121}}</string>
                <key>sourceSize</key>
                <string>{110,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_3.png</string>
            <key>size</key>
            <string>{898,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:077b43d3b31d10f3fe52664f5747b1f9:1/1$</string>
            <key>textureFileName</key>
            <string>img_3.png</string>
        </dict>
    </dict>
</plist>
