<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loseline_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{318,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,221}}</string>
                <key>sourceSize</key>
                <string>{318,221}</string>
            </dict>
            <key>loseline_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>train.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1},{477,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,80}}</string>
                <key>sourceSize</key>
                <string>{477,80}</string>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,133},{516,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,85}}</string>
                <key>sourceSize</key>
                <string>{516,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{860,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2be99ddf54fa40cc7b661655f8d54c2:eeb58964aeaa182acdbf1ad45c14562c:063f20810f63c58bcc5b88a4f1a41587$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
