<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ready_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1},{46,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,128}}</string>
                <key>sourceSize</key>
                <string>{46,128}</string>
            </dict>
            <key>ready_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1},{84,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,128}}</string>
                <key>sourceSize</key>
                <string>{84,128}</string>
            </dict>
            <key>ready_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1},{85,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,130}}</string>
                <key>sourceSize</key>
                <string>{85,130}</string>
            </dict>
            <key>ready_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,88},{99,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,22}}</string>
                <key>sourceSize</key>
                <string>{99,22}</string>
            </dict>
            <key>ready_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,49},{73,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{73,74}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>ready_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{282,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,100}}</string>
                <key>sourceSize</key>
                <string>{282,100}</string>
            </dict>
            <key>ready_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{334,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,24}}</string>
                <key>sourceSize</key>
                <string>{334,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ready.png</string>
            <key>size</key>
            <string>{676,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a14d3161654ce1f3aea7079b734569:6aa7cbce3e163ef3eaf483cf6a5650c5:15b7343b1b4ab6dbfa40a3d837bc7888$</string>
            <key>textureFileName</key>
            <string>ready.png</string>
        </dict>
    </dict>
</plist>
