<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backdrop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,214},{375,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,648}}</string>
                <key>sourceSize</key>
                <string>{375,648}</string>
            </dict>
            <key>backdrop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,378},{750,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,312}}</string>
                <key>sourceSize</key>
                <string>{750,312}</string>
            </dict>
            <key>backdrop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{750,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,374}}</string>
                <key>sourceSize</key>
                <string>{750,374}</string>
            </dict>
            <key>backdrop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1188},{154,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>backdrop_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1166},{154,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>backdrop_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2037,214},{31,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,5}}</string>
                <key>sourceSize</key>
                <string>{31,5}</string>
            </dict>
            <key>backdrop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{750,754}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,754}}</string>
                <key>sourceSize</key>
                <string>{750,754}</string>
            </dict>
            <key>backdrop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1124},{163,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,40}}</string>
                <key>sourceSize</key>
                <string>{163,40}</string>
            </dict>
            <key>backdrop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,2},{77,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,3}}</string>
                <key>sourceSize</key>
                <string>{77,3}</string>
            </dict>
            <key>backdrop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,2},{77,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,3}}</string>
                <key>sourceSize</key>
                <string>{77,3}</string>
            </dict>
            <key>button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,737},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,567},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1017},{169,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,105}}</string>
                <key>sourceSize</key>
                <string>{169,105}</string>
            </dict>
            <key>button_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,779},{169,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,105}}</string>
                <key>sourceSize</key>
                <string>{169,105}</string>
            </dict>
            <key>button_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,394},{133,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,171}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>button_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,221},{133,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,171}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>button_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1029},{310,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,49}}</string>
                <key>sourceSize</key>
                <string>{310,49}</string>
            </dict>
            <key>chess_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1279},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>chess_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1274},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>chess_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1323},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>chess_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1332},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>chess_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>emoji/b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1207},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1274},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,1430},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1207},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1344},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1207},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,1182},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1303},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,1066},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1303},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,950},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,1325},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>head_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1029},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,886},{62,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,553}}</string>
                <key>sourceSize</key>
                <string>{62,553}</string>
            </dict>
            <key>no_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,1298},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>no_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1171},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,1244},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,1344},{45,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,94}}</string>
                <key>sourceSize</key>
                <string>{45,94}</string>
            </dict>
            <key>t_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1204}}</string>
                <key>sourceSize</key>
                <string>{750,1204}</string>
            </dict>
            <key>t_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{217,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,137}}</string>
                <key>sourceSize</key>
                <string>{217,137}</string>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,692},{750,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,85}}</string>
                <key>sourceSize</key>
                <string>{750,85}</string>
            </dict>
            <key>word_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,859},{575,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{575,78}}</string>
                <key>sourceSize</key>
                <string>{627,80}</string>
            </dict>
            <key>word_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,1162},{301,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{301,80}}</string>
                <key>sourceSize</key>
                <string>{319,80}</string>
            </dict>
            <key>word_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,2},{380,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,210}}</string>
                <key>sourceSize</key>
                <string>{380,210}</string>
            </dict>
            <key>word_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1207},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>word_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1244},{223,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{223,80}}</string>
                <key>sourceSize</key>
                <string>{233,80}</string>
            </dict>
            <key>word_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1116},{344,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{344,89}}</string>
                <key>sourceSize</key>
                <string>{364,89}</string>
            </dict>
            <key>word_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,939},{575,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{575,76}}</string>
                <key>sourceSize</key>
                <string>{627,80}</string>
            </dict>
            <key>word_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1017},{365,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{365,97}}</string>
                <key>sourceSize</key>
                <string>{431,105}</string>
            </dict>
            <key>word_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,950},{431,77}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{431,77}}</string>
                <key>sourceSize</key>
                <string>{459,77}</string>
            </dict>
            <key>word_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,779},{575,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{575,78}}</string>
                <key>sourceSize</key>
                <string>{615,78}</string>
            </dict>
            <key>word_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1964},{303,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{303,81}}</string>
                <key>sourceSize</key>
                <string>{319,81}</string>
            </dict>
            <key>word_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1080},{305,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{305,80}}</string>
                <key>sourceSize</key>
                <string>{317,80}</string>
            </dict>
            <key>word_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1964},{295,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{295,81}}</string>
                <key>sourceSize</key>
                <string>{315,81}</string>
            </dict>
            <key>word_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1964},{302,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{302,81}}</string>
                <key>sourceSize</key>
                <string>{320,81}</string>
            </dict>
            <key>yes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1039},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>yes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,907},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goBang.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:096976fad1c282cd19e2630e76ef61a6:1/1$</string>
            <key>textureFileName</key>
            <string>goBang.png</string>
        </dict>
    </dict>
</plist>
