<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_brick_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,384},{181,134}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,61},{181,134}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_brick_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1479},{231,180}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{231,180}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_brick_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,942},{265,212}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{265,212}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_brick_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{281,234}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{281,234}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_brick_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{295,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,244}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_brick_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,248},{181,134}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,61},{181,134}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_brick_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1479},{231,180}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{231,180}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_brick_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,675},{265,212}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{265,212}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_brick_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{281,234}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{281,234}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_brick_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,244}}</string>
                <key>sourceSize</key>
                <string>{295,244}</string>
            </dict>
            <key>a_bullet_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,520},{216,153}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,47},{216,153}}</string>
                <key>sourceSize</key>
                <string>{276,245}</string>
            </dict>
            <key>a_bullet_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{244,195}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{244,195}}</string>
                <key>sourceSize</key>
                <string>{276,245}</string>
            </dict>
            <key>a_bullet_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1209},{268,229}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{268,229}}</string>
                <key>sourceSize</key>
                <string>{276,245}</string>
            </dict>
            <key>a_bullet_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{276,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,245}}</string>
                <key>sourceSize</key>
                <string>{276,245}</string>
            </dict>
            <key>a_bullet_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{276,239}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{276,239}}</string>
                <key>sourceSize</key>
                <string>{276,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{511,1661}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6e9cf09e40610d0a14034c64ca36c8b:1/1$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
