<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,137}}</string>
                <key>sourceSize</key>
                <string>{540,137}</string>
            </dict>
            <key>board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1070},{104,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,387},{104,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{104,50}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>board_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,818},{104,56}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{104,56}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>board_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1481},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>board_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1523},{124,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{124,122}}</string>
                <key>sourceSize</key>
                <string>{124,128}</string>
            </dict>
            <key>button1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1443},{168,104}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{168,104}}</string>
                <key>sourceSize</key>
                <string>{172,106}</string>
            </dict>
            <key>button1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1398},{158,94}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{158,94}}</string>
                <key>sourceSize</key>
                <string>{172,106}</string>
            </dict>
            <key>button2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1417},{168,104}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{168,104}}</string>
                <key>sourceSize</key>
                <string>{172,106}</string>
            </dict>
            <key>button2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,138},{158,94}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{158,94}}</string>
                <key>sourceSize</key>
                <string>{172,106}</string>
            </dict>
            <key>caution.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{134,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,73}}</string>
                <key>sourceSize</key>
                <string>{134,73}</string>
            </dict>
            <key>fish_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,902},{217,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{217,43}}</string>
                <key>sourceSize</key>
                <string>{217,49}</string>
            </dict>
            <key>fish_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,851},{217,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,49}}</string>
                <key>sourceSize</key>
                <string>{217,49}</string>
            </dict>
            <key>fish_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,851},{217,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,49}}</string>
                <key>sourceSize</key>
                <string>{217,49}</string>
            </dict>
            <key>fish_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,493},{217,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,49}}</string>
                <key>sourceSize</key>
                <string>{217,49}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,109},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1286},{110,182}}</string>
                <key>offset</key>
                <string>{-81,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{110,182}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1351},{128,176}}</string>
                <key>offset</key>
                <string>{-51,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,42},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1176},{166,166}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,50},{166,166}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1344},{128,176}}</string>
                <key>offset</key>
                <string>{-75,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{110,182}}</string>
                <key>offset</key>
                <string>{-81,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{110,182}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1351},{128,176}}</string>
                <key>offset</key>
                <string>{-51,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,42},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,215},{290,170}}</string>
                <key>offset</key>
                <string>{46,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,53},{290,170}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1344},{128,176}}</string>
                <key>offset</key>
                <string>{-75,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{110,182}}</string>
                <key>offset</key>
                <string>{-81,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{110,182}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1351},{128,176}}</string>
                <key>offset</key>
                <string>{-51,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,42},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,287},{218,190}}</string>
                <key>offset</key>
                <string>{-55,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{218,190}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1344},{128,176}}</string>
                <key>offset</key>
                <string>{-75,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{110,182}}</string>
                <key>offset</key>
                <string>{-81,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{110,182}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1351},{128,176}}</string>
                <key>offset</key>
                <string>{-51,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,42},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,905},{130,212}}</string>
                <key>offset</key>
                <string>{-101,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{130,212}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1344},{128,176}}</string>
                <key>offset</key>
                <string>{-75,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{110,182}}</string>
                <key>offset</key>
                <string>{-81,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{110,182}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1351},{128,176}}</string>
                <key>offset</key>
                <string>{-51,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,42},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{252,174}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,41},{252,174}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1344},{128,176}}</string>
                <key>offset</key>
                <string>{-75,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,44},{128,176}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{110,182}}</string>
                <key>offset</key>
                <string>{-81,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{110,182}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_drop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1474},{128,124}}</string>
                <key>offset</key>
                <string>{-75,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,100},{128,124}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_drop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,712},{104,62}}</string>
                <key>offset</key>
                <string>{-77,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,150},{104,62}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_drop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1112},{104,40}}</string>
                <key>offset</key>
                <string>{-65,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,184},{104,40}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_drop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{258,86}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,126},{258,86}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_drop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{256,140}}</string>
                <key>offset</key>
                <string>{-15,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,80},{256,140}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_drop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,529},{256,140}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{256,140}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1037},{114,196}}</string>
                <key>offset</key>
                <string>{-79,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,23},{114,196}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,860},{114,196}}</string>
                <key>offset</key>
                <string>{-80,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,23},{114,196}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1170},{114,200}}</string>
                <key>offset</key>
                <string>{-79,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,20},{114,200}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_1_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{114,198}}</string>
                <key>offset</key>
                <string>{-79,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,21},{114,198}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,234},{238,188}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,35},{238,188}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,671},{248,178}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{248,178}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{194,188}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,36},{194,188}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1283},{132,188}}</string>
                <key>offset</key>
                <string>{-68,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,34},{132,188}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,474},{240,190}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{240,190}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,671},{248,178}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{248,178}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{298,192}}</string>
                <key>offset</key>
                <string>{42,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,28},{298,192}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1283},{132,188}}</string>
                <key>offset</key>
                <string>{-68,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,34},{132,188}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,474},{240,190}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{240,190}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,671},{248,178}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{248,178}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1105},{142,194}}</string>
                <key>offset</key>
                <string>{-67,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,24},{142,194}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1283},{132,188}}</string>
                <key>offset</key>
                <string>{-68,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,34},{132,188}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,474},{240,190}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{240,190}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,671},{248,178}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{248,178}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,141},{144,220}}</string>
                <key>offset</key>
                <string>{-65,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,2},{144,220}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1283},{132,188}}</string>
                <key>offset</key>
                <string>{-68,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,34},{132,188}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,474},{240,190}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{240,190}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,671},{248,178}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{248,178}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,976},{192,200}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,14},{192,200}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1283},{132,188}}</string>
                <key>offset</key>
                <string>{-68,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,34},{132,188}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,474},{240,190}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{240,190}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_drop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,947},{210,156}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,68},{210,156}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_drop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1249},{190,100}}</string>
                <key>offset</key>
                <string>{-15,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,118},{190,100}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_drop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,924},{186,44}}</string>
                <key>offset</key>
                <string>{-10,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,174},{186,44}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_drop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,633},{256,86}}</string>
                <key>offset</key>
                <string>{-14,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,128},{256,86}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_drop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,491},{256,140}}</string>
                <key>offset</key>
                <string>{-15,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,83},{256,140}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_drop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,387},{256,140}}</string>
                <key>offset</key>
                <string>{-15,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,83},{256,140}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,721},{240,182}}</string>
                <key>offset</key>
                <string>{-17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,40},{240,182}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{240,178}}</string>
                <key>offset</key>
                <string>{-17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,44},{240,178}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,716},{142,190}}</string>
                <key>offset</key>
                <string>{-71,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,28},{142,190}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>hero_2_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1153},{128,190}}</string>
                <key>offset</key>
                <string>{-63,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,29},{128,190}}</string>
                <key>sourceSize</key>
                <string>{382,224}</string>
            </dict>
            <key>lagging.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,109},{315,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,104}}</string>
                <key>sourceSize</key>
                <string>{315,104}</string>
            </dict>
            <key>leading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{315,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,102}}</string>
                <key>sourceSize</key>
                <string>{315,104}</string>
            </dict>
            <key>light_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,938},{165,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,24}}</string>
                <key>sourceSize</key>
                <string>{165,24}</string>
            </dict>
            <key>screed.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{391,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,105}}</string>
                <key>sourceSize</key>
                <string>{391,105}</string>
            </dict>
            <key>wave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,439},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,36}</string>
            </dict>
            <key>wave_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,905},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2e829d715aba10afdb63671f1e5a4be:1/1$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
