<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{42,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,92}}</string>
                <key>sourceSize</key>
                <string>{42,92}</string>
            </dict>
            <key>ready_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{60,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,90}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>ready_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,90}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img_1.png</string>
            <key>size</key>
            <string>{64,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e6f84d28c6d079cbd1440f77aa145b:1/1$</string>
            <key>textureFileName</key>
            <string>img_1.png</string>
        </dict>
    </dict>
</plist>
