<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{203,1053},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,185}</string>
                <key>spriteSourceSize</key>
                <string>{185,185}</string>
                <key>textureRect</key>
                <string>{{1721,423},{185,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1515,1152},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_appear_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{200,88}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{883,140},{200,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_appear_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{116,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1608,318},{116,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_appear_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{999,846},{120,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_goal_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{540,60}</string>
                <key>spriteSourceSize</key>
                <string>{540,300}</string>
                <key>textureRect</key>
                <string>{{1,469},{540,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_goal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{540,120}</string>
                <key>spriteSourceSize</key>
                <string>{540,300}</string>
                <key>textureRect</key>
                <string>{{543,1},{540,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_half.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{398,180}</string>
                <key>spriteSourceSize</key>
                <string>{540,320}</string>
                <key>textureRect</key>
                <string>{{63,469},{398,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_half_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{540,242}</string>
                <key>spriteSourceSize</key>
                <string>{540,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{540,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_half_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,18}</string>
                <key>spriteSize</key>
                <string>{526,222}</string>
                <key>spriteSourceSize</key>
                <string>{540,320}</string>
                <key>textureRect</key>
                <string>{{1,245},{526,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cb_ready_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{310,78}</string>
                <key>spriteSourceSize</key>
                <string>{338,78}</string>
                <key>textureRect</key>
                <string>{{543,220},{310,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cb_ready_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{334,78}</string>
                <key>spriteSourceSize</key>
                <string>{338,78}</string>
                <key>textureRect</key>
                <string>{{403,651},{334,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cb_ready_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,78}</string>
                <key>spriteSourceSize</key>
                <string>{338,78}</string>
                <key>textureRect</key>
                <string>{{543,140},{338,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cb_start_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,104}</string>
                <key>spriteSourceSize</key>
                <string>{241,134}</string>
                <key>textureRect</key>
                <string>{{1735,317},{211,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cb_start_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,112}</string>
                <key>spriteSourceSize</key>
                <string>{241,134}</string>
                <key>textureRect</key>
                <string>{{1735,203},{219,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cb_start_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,120}</string>
                <key>spriteSourceSize</key>
                <string>{241,134}</string>
                <key>textureRect</key>
                <string>{{855,230},{227,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cb_start_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,134}</string>
                <key>spriteSourceSize</key>
                <string>{241,134}</string>
                <key>textureRect</key>
                <string>{{1363,786},{241,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1735,1},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1053},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{258,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{529,432},{258,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{258,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{483,900},{258,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{258,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{789,482},{258,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{258,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{999,586},{258,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>door_light_1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1349,194},{260,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{256,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{743,972},{256,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{250,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1359,922},{250,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{254,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1489,530},{254,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>door_light_1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{258,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1103,786},{258,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{463,536},{260,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1084,298},{260,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{262,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1085,194},{262,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1346,298},{260,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{258,104}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{403,1004},{258,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{254,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1079,1120},{254,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{252,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1595,1051},{252,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{258,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{390,1236},{258,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{256,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{743,1076},{256,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{254,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1676,1222},{254,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{256,102}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1101,890},{256,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{256,124}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{390,1110},{256,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{256,124}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{650,1180},{256,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{258,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{483,640},{258,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>door_light_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{789,352},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{256,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1103,530},{256,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{254,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1361,530},{254,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>door_light_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{256,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1103,658},{256,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{258,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{611,640},{258,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>door_light_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{256,124}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1079,994},{256,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{258,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{739,586},{258,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{258,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{739,714},{258,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{258,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1049,402},{258,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{258,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1309,402},{258,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{256,130}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{529,300},{256,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{256,124}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1337,1026},{256,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{254,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{908,1224},{254,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{254,128}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{743,842},{254,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{250,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1593,406},{250,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>door_light_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{254,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1164,1224},{254,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>door_light_2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{254,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,150}</string>
                <key>textureRect</key>
                <string>{{1420,1224},{254,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1606,913},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goal_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{152,72}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1749,878},{152,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{180,76}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1883,610},{180,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-16}</string>
                <key>spriteSize</key>
                <string>{204,76}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1,1255},{204,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-23}</string>
                <key>spriteSize</key>
                <string>{212,76}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1001,968},{212,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goal_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-25}</string>
                <key>spriteSize</key>
                <string>{178,70}</string>
                <key>spriteSourceSize</key>
                <string>{220,160}</string>
                <key>textureRect</key>
                <string>{{1335,1152},{178,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,191}</string>
                <key>spriteSourceSize</key>
                <string>{323,191}</string>
                <key>textureRect</key>
                <string>{{1085,1},{323,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,191}</string>
                <key>spriteSourceSize</key>
                <string>{323,191}</string>
                <key>textureRect</key>
                <string>{{1410,1},{323,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>midfield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,15}</string>
                <key>spriteSourceSize</key>
                <string>{540,15}</string>
                <key>textureRect</key>
                <string>{{543,123},{540,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{1823,978},{71,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>score_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{1879,792},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{663,1004},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1823,878},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{207,1240},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1611,194},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1747,746},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1611,913},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1606,773},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1747,610},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strike_player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{648,1110},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,65}</string>
                <key>spriteSourceSize</key>
                <string>{241,65}</string>
                <key>textureRect</key>
                <string>{{1587,1155},{241,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,152}</string>
                <key>spriteSourceSize</key>
                <string>{113,152}</string>
                <key>textureRect</key>
                <string>{{1593,658},{113,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,199}</string>
                <key>spriteSourceSize</key>
                <string>{338,199}</string>
                <key>textureRect</key>
                <string>{{63,651},{338,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,199}</string>
                <key>spriteSourceSize</key>
                <string>{338,199}</string>
                <key>textureRect</key>
                <string>{{63,852},{338,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1960,1351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d453cca86fb9d44dfeced2b72b666b8:aa96c8e02f55184880a5d6c0e56c7eb7:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
