<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_d_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,892},{145,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{145,157}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_d_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,1091},{145,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{145,157}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,201},{145,155}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{145,155}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_d_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,944},{145,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{145,157}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_d_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,779},{145,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{145,157}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_happy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,797},{145,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{145,157}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_happy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,348},{145,153}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{145,153}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_shot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,650},{145,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{145,157}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_shot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,503},{145,157}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{145,157}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_shot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1080},{145,159}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{145,159}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_shot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,244},{149,159}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{149,159}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_shot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1080},{145,159}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{145,159}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_shot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,731},{145,159}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{145,159}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>1_shot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,570},{145,159}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{145,159}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>2_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,531},{246,241}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{246,241}}</string>
                <key>sourceSize</key>
                <string>{288,245}</string>
            </dict>
            <key>2_shot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1080},{246,243}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{246,243}}</string>
                <key>sourceSize</key>
                <string>{288,245}</string>
            </dict>
            <key>2_shot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1764},{246,245}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{246,245}}</string>
                <key>sourceSize</key>
                <string>{288,245}</string>
            </dict>
            <key>2_shot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,206},{246,243}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{246,243}}</string>
                <key>sourceSize</key>
                <string>{288,245}</string>
            </dict>
            <key>2_shot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1779},{266,243}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{266,243}}</string>
                <key>sourceSize</key>
                <string>{288,245}</string>
            </dict>
            <key>2_shot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1764},{246,243}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{246,243}}</string>
                <key>sourceSize</key>
                <string>{288,245}</string>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1005},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>blood_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>blood_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2012},{215,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,33}}</string>
                <key>sourceSize</key>
                <string>{215,33}</string>
            </dict>
            <key>boom_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1779},{19,9}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,135},{19,9}}</string>
                <key>sourceSize</key>
                <string>{73,151}</string>
            </dict>
            <key>boom_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,944},{55,133}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{55,133}}</string>
                <key>sourceSize</key>
                <string>{73,151}</string>
            </dict>
            <key>boom_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,495},{73,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,151}}</string>
                <key>sourceSize</key>
                <string>{73,151}</string>
            </dict>
            <key>boom_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2012},{23,129}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{23,129}}</string>
                <key>sourceSize</key>
                <string>{73,151}</string>
            </dict>
            <key>boom_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1779},{278,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,252}}</string>
                <key>sourceSize</key>
                <string>{278,252}</string>
            </dict>
            <key>boom_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1250},{512,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,506}}</string>
                <key>sourceSize</key>
                <string>{512,506}</string>
            </dict>
            <key>boom_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,777},{309,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,301}}</string>
                <key>sourceSize</key>
                <string>{309,301}</string>
            </dict>
            <key>boom_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1529},{205,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{205,202}</string>
            </dict>
            <key>boom_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1325},{205,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{205,202}</string>
            </dict>
            <key>boom_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1793},{278,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,252}}</string>
                <key>sourceSize</key>
                <string>{278,252}</string>
            </dict>
            <key>boom_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,645},{512,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,506}}</string>
                <key>sourceSize</key>
                <string>{512,506}</string>
            </dict>
            <key>boom_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,474},{309,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,301}}</string>
                <key>sourceSize</key>
                <string>{309,301}</string>
            </dict>
            <key>boom_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1284},{205,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{205,202}</string>
            </dict>
            <key>boom_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1080},{205,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{205,202}</string>
            </dict>
            <key>boom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,2},{311,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,325}}</string>
                <key>sourceSize</key>
                <string>{311,325}</string>
            </dict>
            <key>boom_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1793},{278,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,252}}</string>
                <key>sourceSize</key>
                <string>{278,252}</string>
            </dict>
            <key>boom_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1265},{512,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,506}}</string>
                <key>sourceSize</key>
                <string>{512,506}</string>
            </dict>
            <key>boom_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,171},{309,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,301}}</string>
                <key>sourceSize</key>
                <string>{309,301}</string>
            </dict>
            <key>boom_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,779},{205,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{205,202}</string>
            </dict>
            <key>boom_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{205,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{205,202}</string>
            </dict>
            <key>boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,315},{154,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,214}}</string>
                <key>sourceSize</key>
                <string>{154,214}</string>
            </dict>
            <key>button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,543},{202,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,98}}</string>
                <key>sourceSize</key>
                <string>{202,98}</string>
            </dict>
            <key>button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,451},{166,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{166,82}}</string>
                <key>sourceSize</key>
                <string>{202,98}</string>
            </dict>
            <key>f_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1159},{114,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,103}}</string>
                <key>sourceSize</key>
                <string>{114,103}</string>
            </dict>
            <key>f_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1080},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>f_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1159},{130,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,102}}</string>
                <key>sourceSize</key>
                <string>{130,102}</string>
            </dict>
            <key>f_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,451},{82,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,65}}</string>
                <key>sourceSize</key>
                <string>{82,65}</string>
            </dict>
            <key>f_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,544},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>f_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,938},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1159},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,123},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>loes.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1265},{526,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,209}}</string>
                <key>sourceSize</key>
                <string>{526,209}</string>
            </dict>
            <key>say.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,423},{166,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{166,106}</string>
            </dict>
            <key>say_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,395},{166,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{166,106}</string>
            </dict>
            <key>say_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,315},{166,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{166,106}</string>
            </dict>
            <key>say_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,535},{166,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{166,106}</string>
            </dict>
            <key>say_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,535},{166,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,106}}</string>
                <key>sourceSize</key>
                <string>{166,106}</string>
            </dict>
            <key>shardow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,2012},{112,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,21}}</string>
                <key>sourceSize</key>
                <string>{112,21}</string>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{540,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,29}}</string>
                <key>sourceSize</key>
                <string>{540,29}</string>
            </dict>
            <key>tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,2},{197,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,89}}</string>
                <key>sourceSize</key>
                <string>{197,89}</string>
            </dict>
            <key>tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1159},{197,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,89}}</string>
                <key>sourceSize</key>
                <string>{197,89}</string>
            </dict>
            <key>tips_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,2},{374,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,167}}</string>
                <key>sourceSize</key>
                <string>{374,167}</string>
            </dict>
            <key>ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{539,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,243}}</string>
                <key>sourceSize</key>
                <string>{539,243}</string>
            </dict>
            <key>ui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{533,643}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,643}}</string>
                <key>sourceSize</key>
                <string>{533,643}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1265},{526,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,220}}</string>
                <key>sourceSize</key>
                <string>{526,220}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{534,616}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,616}}</string>
                <key>sourceSize</key>
                <string>{534,616}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c0aa4ff864c9fe72e3033ecd7f49c20:1/1$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
