<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,312},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>click_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,928},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{60,60}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>click_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,354},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{36,36}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>click_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,928},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{80,80}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>click_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>click_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,928},{96,90}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{96,90}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,183},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>hand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,928},{93,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>hand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,163},{91,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,126}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>hand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,928},{93,100}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{93,100}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>his.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,443},{49,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,198}}</string>
                <key>sourceSize</key>
                <string>{49,198}</string>
            </dict>
            <key>his_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{49,160}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,160}}</string>
                <key>sourceSize</key>
                <string>{49,198}</string>
            </dict>
            <key>mapBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,544},{382,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,474}}</string>
                <key>sourceSize</key>
                <string>{382,474}</string>
            </dict>
            <key>miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,494},{88,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,26}}</string>
                <key>sourceSize</key>
                <string>{88,26}</string>
            </dict>
            <key>progressbar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,2},{58,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,179}}</string>
                <key>sourceSize</key>
                <string>{58,179}</string>
            </dict>
            <key>progressbar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,494},{48,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{48,169}}</string>
                <key>sourceSize</key>
                <string>{58,179}</string>
            </dict>
            <key>rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{382,767}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,767}}</string>
                <key>sourceSize</key>
                <string>{382,767}</string>
            </dict>
            <key>rule_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,312},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>ruls_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,464},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{39,64}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{388,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,77}}</string>
                <key>sourceSize</key>
                <string>{388,77}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,312},{150,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,85}}</string>
                <key>sourceSize</key>
                <string>{150,85}</string>
            </dict>
            <key>your.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,392},{49,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,198}}</string>
                <key>sourceSize</key>
                <string>{49,198}</string>
            </dict>
            <key>your_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,112},{49,160}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,160}}</string>
                <key>sourceSize</key>
                <string>{49,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1269,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c8d98b0b8af18a35a9e9b1e8572177a:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
