<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,964},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,964},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{1628,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b4de1d082bbc75f82777523afe44e13:1/1$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
