<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,423},{74,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,90},{74,80}}</string>
                <key>sourceSize</key>
                <string>{242,260}</string>
            </dict>
            <key>boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{172,200}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{172,200}}</string>
                <key>sourceSize</key>
                <string>{242,260}</string>
            </dict>
            <key>boom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,264},{198,202}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{198,202}}</string>
                <key>sourceSize</key>
                <string>{242,260}</string>
            </dict>
            <key>boom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{222,228}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{222,228}}</string>
                <key>sourceSize</key>
                <string>{242,260}</string>
            </dict>
            <key>boom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,260}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,260}}</string>
                <key>sourceSize</key>
                <string>{242,260}</string>
            </dict>
            <key>boom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,260}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{240,260}}</string>
                <key>sourceSize</key>
                <string>{242,260}</string>
            </dict>
            <key>tnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,468},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>tnt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,404},{97,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,114}}</string>
                <key>sourceSize</key>
                <string>{97,114}</string>
            </dict>
            <key>tnt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,305},{97,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,114}}</string>
                <key>sourceSize</key>
                <string>{97,114}</string>
            </dict>
            <key>tnt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,204},{99,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,129}}</string>
                <key>sourceSize</key>
                <string>{99,129}</string>
            </dict>
            <key>tnt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,305},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile.png</string>
            <key>size</key>
            <string>{668,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29722bf4902e6c35b6c71f1000dc7b76:1/1$</string>
            <key>textureFileName</key>
            <string>missile.png</string>
        </dict>
    </dict>
</plist>
