<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,880},{267,162}}</string>
                <key>offset</key>
                <string>{19,-362}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,724},{267,162}}</string>
                <key>sourceSize</key>
                <string>{521,886}</string>
            </dict>
            <key>big_boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,880},{295,214}}</string>
                <key>offset</key>
                <string>{7,-336}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,672},{295,214}}</string>
                <key>sourceSize</key>
                <string>{521,886}</string>
            </dict>
            <key>big_boom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,2},{409,528}}</string>
                <key>offset</key>
                <string>{26,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,333},{409,528}}</string>
                <key>sourceSize</key>
                <string>{521,886}</string>
            </dict>
            <key>big_boom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{439,884}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{439,884}}</string>
                <key>sourceSize</key>
                <string>{521,886}</string>
            </dict>
            <key>big_boom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{509,878}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{509,878}}</string>
                <key>sourceSize</key>
                <string>{521,886}</string>
            </dict>
            <key>big_boom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{509,876}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{509,876}}</string>
                <key>sourceSize</key>
                <string>{521,886}</string>
            </dict>
            <key>big_boom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,413},{513,872}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,872}}</string>
                <key>sourceSize</key>
                <string>{521,886}</string>
            </dict>
            <key>big_boom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{493,378}}</string>
                <key>offset</key>
                <string>{-14,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,447},{493,378}}</string>
                <key>sourceSize</key>
                <string>{521,886}</string>
            </dict>
            <key>big_boom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,882},{479,316}}</string>
                <key>offset</key>
                <string>{-9,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,462},{479,316}}</string>
                <key>sourceSize</key>
                <string>{521,886}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{1995,1287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:091123c4cea449e3789b8d319e1a7789:1/1$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
