<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,351},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,68}}</string>
                <key>sourceSize</key>
                <string>{47,68}</string>
            </dict>
            <key>g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{47,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,65}}</string>
                <key>sourceSize</key>
                <string>{47,65}</string>
            </dict>
            <key>i.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,284},{17,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,65}}</string>
                <key>sourceSize</key>
                <string>{17,65}</string>
            </dict>
            <key>l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{15,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,67}}</string>
                <key>sourceSize</key>
                <string>{15,67}</string>
            </dict>
            <key>n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>o.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{51,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:992b0d94a0872323acdec87efdbb0f7b:1/1$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
