<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1650},{413,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{413,116}}</string>
                <key>sourceSize</key>
                <string>{435,120}</string>
            </dict>
            <key>again_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1768},{413,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{413,116}}</string>
                <key>sourceSize</key>
                <string>{435,120}</string>
            </dict>
            <key>braw_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1241},{407,379}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{407,379}}</string>
                <key>sourceSize</key>
                <string>{419,397}</string>
            </dict>
            <key>draw_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,710},{739,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{739,175}}</string>
                <key>sourceSize</key>
                <string>{739,175}</string>
            </dict>
            <key>draw_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,710},{298,102}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,18},{298,102}}</string>
                <key>sourceSize</key>
                <string>{320,146}</string>
            </dict>
            <key>leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1964},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,887},{739,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{739,175}}</string>
                <key>sourceSize</key>
                <string>{739,175}</string>
            </dict>
            <key>lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1622},{407,379}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{407,379}}</string>
                <key>sourceSize</key>
                <string>{419,397}</string>
            </dict>
            <key>lose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1},{344,76}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{344,76}}</string>
                <key>sourceSize</key>
                <string>{354,150}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,577},{96,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,577},{122,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,114}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1},{529,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,76}}</string>
                <key>sourceSize</key>
                <string>{529,76}</string>
            </dict>
            <key>tx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,923},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>tx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1439},{129,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,184}}</string>
                <key>sourceSize</key>
                <string>{129,184}</string>
            </dict>
            <key>tx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1234},{128,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,203}}</string>
                <key>sourceSize</key>
                <string>{128,203}</string>
            </dict>
            <key>tx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,347},{228,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,84}}</string>
                <key>sourceSize</key>
                <string>{228,84}</string>
            </dict>
            <key>tx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,693},{228,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,44}}</string>
                <key>sourceSize</key>
                <string>{228,44}</string>
            </dict>
            <key>tx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1625},{228,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,87}}</string>
                <key>sourceSize</key>
                <string>{228,87}</string>
            </dict>
            <key>ui_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{750,707}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,707}}</string>
                <key>sourceSize</key>
                <string>{750,707}</string>
            </dict>
            <key>vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1886},{186,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,112}}</string>
                <key>sourceSize</key>
                <string>{186,112}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1064},{739,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{739,175}}</string>
                <key>sourceSize</key>
                <string>{739,175}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1241},{407,379}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{407,379}}</string>
                <key>sourceSize</key>
                <string>{419,397}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1886},{340,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,37},{340,76}}</string>
                <key>sourceSize</key>
                <string>{344,150}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1010},{194,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,222}}</string>
                <key>sourceSize</key>
                <string>{194,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>over.png</string>
            <key>size</key>
            <string>{939,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b165dec6e1428f4c922a54cfb650628:31fd53cbfc96fee4335dc38e070e7e5a:1d59234e4e349a57c0d4150c59ce9d5d$</string>
            <key>textureFileName</key>
            <string>over.png</string>
        </dict>
    </dict>
</plist>
