<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Artboard 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1219},{380,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,210}}</string>
                <key>sourceSize</key>
                <string>{380,210}</string>
            </dict>
            <key>backdrop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1},{375,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,648}}</string>
                <key>sourceSize</key>
                <string>{375,648}</string>
            </dict>
            <key>backdrop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1207},{750,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,312}}</string>
                <key>sourceSize</key>
                <string>{750,312}</string>
            </dict>
            <key>backdrop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,757},{750,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,374}}</string>
                <key>sourceSize</key>
                <string>{750,374}</string>
            </dict>
            <key>backdrop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,870},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>backdrop_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1036},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>backdrop_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1414},{31,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,5}}</string>
                <key>sourceSize</key>
                <string>{31,5}</string>
            </dict>
            <key>backdrop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1},{750,754}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,754}}</string>
                <key>sourceSize</key>
                <string>{750,754}</string>
            </dict>
            <key>backdrop_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,345},{163,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,40}}</string>
                <key>sourceSize</key>
                <string>{163,40}</string>
            </dict>
            <key>backdrop_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,510},{77,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,3}}</string>
                <key>sourceSize</key>
                <string>{77,3}</string>
            </dict>
            <key>backdrop_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,510},{77,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,3}}</string>
                <key>sourceSize</key>
                <string>{77,3}</string>
            </dict>
            <key>button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1028},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,517},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,1018},{169,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,105}}</string>
                <key>sourceSize</key>
                <string>{169,105}</string>
            </dict>
            <key>button_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1194},{169,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,105}}</string>
                <key>sourceSize</key>
                <string>{169,105}</string>
            </dict>
            <key>button_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,845},{133,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,171}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>button_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1421},{133,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,171}}</string>
                <key>sourceSize</key>
                <string>{133,171}</string>
            </dict>
            <key>button_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1521},{310,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,49}}</string>
                <key>sourceSize</key>
                <string>{310,49}</string>
            </dict>
            <key>chess_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,960},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>chess_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,1444},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>chess_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1206},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>chess_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,1444},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>chess_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,517},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>emoji/b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1301},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1491},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1417},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1491},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1270},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1491},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1328},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1491},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,1328},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,1444},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>emoji/b_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,1328},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>emoji/b_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1444},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>head_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,687},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,651},{62,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,553}}</string>
                <key>sourceSize</key>
                <string>{62,553}</string>
            </dict>
            <key>no_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1421},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>no_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1198},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1491},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,1367},{45,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,94}}</string>
                <key>sourceSize</key>
                <string>{45,94}</string>
            </dict>
            <key>t_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{750,1204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1204}}</string>
                <key>sourceSize</key>
                <string>{750,1204}</string>
            </dict>
            <key>t_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,651},{217,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,137}}</string>
                <key>sourceSize</key>
                <string>{217,137}</string>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1133},{750,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,84}}</string>
                <key>sourceSize</key>
                <string>{750,84}</string>
            </dict>
            <key>word_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1431},{371,58}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{371,58}}</string>
                <key>sourceSize</key>
                <string>{415,80}</string>
            </dict>
            <key>word_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,651},{307,58}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{307,58}}</string>
                <key>sourceSize</key>
                <string>{319,80}</string>
            </dict>
            <key>word_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1219},{380,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,210}}</string>
                <key>sourceSize</key>
                <string>{380,210}</string>
            </dict>
            <key>word_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,1444},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>word_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1367},{215,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{215,52}}</string>
                <key>sourceSize</key>
                <string>{233,80}</string>
            </dict>
            <key>word_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1256},{312,53}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{312,53}}</string>
                <key>sourceSize</key>
                <string>{364,89}</string>
            </dict>
            <key>word_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,651},{383,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{383,58}}</string>
                <key>sourceSize</key>
                <string>{433,80}</string>
            </dict>
            <key>word_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1},{514,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{514,57}}</string>
                <key>sourceSize</key>
                <string>{522,105}</string>
            </dict>
            <key>word_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,651},{521,47}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{521,47}}</string>
                <key>sourceSize</key>
                <string>{529,77}</string>
            </dict>
            <key>word_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1},{507,48}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,12},{507,48}}</string>
                <key>sourceSize</key>
                <string>{615,78}</string>
            </dict>
            <key>word_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,1},{342,43}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{342,43}}</string>
                <key>sourceSize</key>
                <string>{346,81}</string>
            </dict>
            <key>word_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1311},{285,54}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{285,54}}</string>
                <key>sourceSize</key>
                <string>{317,80}</string>
            </dict>
            <key>word_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,1219},{366,35}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{366,35}}</string>
                <key>sourceSize</key>
                <string>{376,81}</string>
            </dict>
            <key>word_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1521},{423,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{423,35}}</string>
                <key>sourceSize</key>
                <string>{433,81}</string>
            </dict>
            <key>yes_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1198},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>yes_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1414},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goBang.png</string>
            <key>size</key>
            <string>{2043,1571}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:729e848da17f624715f2f8f1d2b1f094:c5b85ace2ebf14de73b981da55283879:bb6bcb8b8d3702f6a7be232105b87e27$</string>
            <key>textureFileName</key>
            <string>goBang.png</string>
        </dict>
    </dict>
</plist>
