<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{23,73}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{23,73}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,467},{47,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,390},{47,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{47,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{336,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,120}}</string>
                <key>sourceSize</key>
                <string>{336,120}</string>
            </dict>
            <key>crazy.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2010},{262,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,36}}</string>
                <key>sourceSize</key>
                <string>{262,36}</string>
            </dict>
            <key>end.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1864},{540,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,108}}</string>
                <key>sourceSize</key>
                <string>{540,108}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,963},{113,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{113,65}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>hand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1864},{140,194}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,194}}</string>
                <key>sourceSize</key>
                <string>{146,194}</string>
            </dict>
            <key>hand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1864},{146,182}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,182}}</string>
                <key>sourceSize</key>
                <string>{146,194}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,963},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>heart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,70},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>heart_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,226},{52,46}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{52,46}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>heart_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>heart_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,188},{36,54}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,544},{540,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,10}}</string>
                <key>sourceSize</key>
                <string>{540,10}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{540,776}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{540,776}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,716},{245,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,59}}</string>
                <key>sourceSize</key>
                <string>{245,59}</string>
            </dict>
            <key>round2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,716},{245,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,59}}</string>
                <key>sourceSize</key>
                <string>{245,59}</string>
            </dict>
            <key>round3.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1974},{245,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,59}}</string>
                <key>sourceSize</key>
                <string>{245,59}</string>
            </dict>
            <key>vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{149,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,960}}</string>
                <key>sourceSize</key>
                <string>{149,960}</string>
            </dict>
            <key>warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>xin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,842},{42,38}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{42,38}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,716},{60,80}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{60,80}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1974},{68,96}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{68,96}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1974},{70,70}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,48},{70,70}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1974},{68,76}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,52},{68,76}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1974},{66,66}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,58},{66,66}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,138},{48,56}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,61},{48,56}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,798},{42,38}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{42,38}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2006},{42,38}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{42,38}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,676},{42,38}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{42,38}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,632},{42,42}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,49},{42,42}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,588},{42,44}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{42,44}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,544},{42,46}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,49},{42,46}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,274},{42,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{42,52}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>xin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,318},{48,70}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{48,70}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>you.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1864},{144,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,101}}</string>
                <key>sourceSize</key>
                <string>{144,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>myimg.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d9762a014d292227ed55066c659222:1/1$</string>
            <key>textureFileName</key>
            <string>myimg.png</string>
        </dict>
    </dict>
</plist>
