<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,303},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>p_brick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,273},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,80}}</string>
                <key>sourceSize</key>
                <string>{114,80}</string>
            </dict>
            <key>p_brick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,273},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,80}}</string>
                <key>sourceSize</key>
                <string>{114,80}</string>
            </dict>
            <key>p_brick_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,303},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,80}}</string>
                <key>sourceSize</key>
                <string>{114,80}</string>
            </dict>
            <key>p_bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,146},{115,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,533}}</string>
                <key>sourceSize</key>
                <string>{115,533}</string>
            </dict>
            <key>ui_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,4},{540,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,136}}</string>
                <key>sourceSize</key>
                <string>{540,136}</string>
            </dict>
            <key>ui_head_cllipe_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,267},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>ui_tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,4},{138,263}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{138,263}}</string>
                <key>sourceSize</key>
                <string>{186,293}</string>
            </dict>
            <key>ui_tips_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,4},{138,279}}</string>
                <key>offset</key>
                <string>{24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{138,279}}</string>
                <key>sourceSize</key>
                <string>{186,293}</string>
            </dict>
            <key>ui_tips_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{138,293}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{138,293}}</string>
                <key>sourceSize</key>
                <string>{186,293}</string>
            </dict>
            <key>w_add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,267},{108,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{108,59}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>w_add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,267},{110,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,59}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>w_add_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,289},{110,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,59}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>w_add_long_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,267},{261,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{261,39}}</string>
                <key>sourceSize</key>
                <string>{261,63}</string>
            </dict>
            <key>w_score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,312},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>w_score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,312},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>w_score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,312},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{980,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b166a09b6546743c2d5ffe8f02f946:1/1$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
