<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,153}</string>
                <key>spriteSourceSize</key>
                <string>{190,153}</string>
                <key>textureRect</key>
                <string>{{197,791},{190,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,81}</string>
                <key>spriteSourceSize</key>
                <string>{57,81}</string>
                <key>textureRect</key>
                <string>{{409,225},{57,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,208}</string>
                <key>spriteSourceSize</key>
                <string>{350,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,153}</string>
                <key>spriteSourceSize</key>
                <string>{190,153}</string>
                <key>textureRect</key>
                <string>{{197,946},{190,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{213,1},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{196,156}</string>
                <key>spriteSourceSize</key>
                <string>{198,156}</string>
                <key>textureRect</key>
                <string>{{1,211},{196,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{1,369},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,155}</string>
                <key>spriteSourceSize</key>
                <string>{194,155}</string>
                <key>textureRect</key>
                <string>{{1,1475},{194,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{1,527},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,172}</string>
                <key>spriteSourceSize</key>
                <string>{143,172}</string>
                <key>textureRect</key>
                <string>{{197,1101},{143,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,172}</string>
                <key>spriteSourceSize</key>
                <string>{143,172}</string>
                <key>textureRect</key>
                <string>{{197,1275},{143,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,172}</string>
                <key>spriteSourceSize</key>
                <string>{143,172}</string>
                <key>textureRect</key>
                <string>{{342,1241},{143,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,171}</string>
                <key>spriteSourceSize</key>
                <string>{143,171}</string>
                <key>textureRect</key>
                <string>{{197,1449},{143,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{1,685},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{1,843},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_31_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{389,960},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{1,1001},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_32_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{468,225},{30,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{1,1159},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{1,1317},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{213,159},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{199,317},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{197,475},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{197,633},{194,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,22}</string>
                <key>textureRect</key>
                <string>{{428,1551},{48,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,43}</string>
                <key>spriteSourceSize</key>
                <string>{90,43}</string>
                <key>textureRect</key>
                <string>{{389,915},{90,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,65}</string>
                <key>spriteSourceSize</key>
                <string>{134,65}</string>
                <key>textureRect</key>
                <string>{{428,1415},{134,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>duang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,84}</string>
                <key>textureRect</key>
                <string>{{342,1415},{190,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{395,317},{90,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,122}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{389,791},{90,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{222,88}</string>
                <key>spriteSourceSize</key>
                <string>{228,106}</string>
                <key>textureRect</key>
                <string>{{409,1},{222,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shadow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,155}</string>
                <key>spriteSourceSize</key>
                <string>{138,155}</string>
                <key>textureRect</key>
                <string>{{342,1101},{138,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{498,1631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20c43762d25f4987be4b27f03e19f2b9:b1fa9d5207b247c6bc1d4b1f24c819ca:e7d5df088989fd73d4e1ab6d0183848c$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
