<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ready_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,98}</string>
                <key>spriteSourceSize</key>
                <string>{43,98}</string>
                <key>textureRect</key>
                <string>{{121,1},{43,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,99}</string>
                <key>spriteSourceSize</key>
                <string>{57,99}</string>
                <key>textureRect</key>
                <string>{{62,1},{57,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,101}</string>
                <key>spriteSourceSize</key>
                <string>{59,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>img_1.png</string>
            <key>size</key>
            <string>{165,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8693596495aed51f7ada8b9649dba109:baa1b82933471d4114b0481969d2eb16:ede72e1f8af3c665b31a396782b99d4b$</string>
            <key>textureFileName</key>
            <string>img_1.png</string>
        </dict>
    </dict>
</plist>
