<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loseline_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,221}</string>
                <key>spriteSourceSize</key>
                <string>{319,221}</string>
                <key>textureRect</key>
                <string>{{591,1},{319,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loseline_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,117}</string>
                <key>spriteSourceSize</key>
                <string>{540,117}</string>
                <key>textureRect</key>
                <string>{{1,101},{540,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,98}</string>
                <key>spriteSourceSize</key>
                <string>{456,98}</string>
                <key>textureRect</key>
                <string>{{133,1},{456,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{911,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c94878b00b9d398f3af4149c9329f6cb:2b3c3e78de9cf3e4ce8eb0eae59ac364:063f20810f63c58bcc5b88a4f1a41587$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
