<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ready_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,128}</string>
                <key>spriteSourceSize</key>
                <string>{46,128}</string>
                <key>textureRect</key>
                <string>{{418,77},{46,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,128}</string>
                <key>spriteSourceSize</key>
                <string>{84,128}</string>
                <key>textureRect</key>
                <string>{{288,133},{84,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ready_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,130}</string>
                <key>spriteSourceSize</key>
                <string>{85,130}</string>
                <key>textureRect</key>
                <string>{{291,1},{85,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,22}</string>
                <key>spriteSourceSize</key>
                <string>{99,22}</string>
                <key>textureRect</key>
                <string>{{1,187},{99,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{378,1},{73,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,132}</string>
                <key>spriteSourceSize</key>
                <string>{285,132}</string>
                <key>textureRect</key>
                <string>{{1,53},{285,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,50}</string>
                <key>spriteSourceSize</key>
                <string>{288,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{288,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ready.png</string>
            <key>size</key>
            <string>{465,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a01246c96a9083b7f039efed60af0eec:ea410a4e8c55e5407c116034badbf8c7:15b7343b1b4ab6dbfa40a3d837bc7888$</string>
            <key>textureFileName</key>
            <string>ready.png</string>
        </dict>
    </dict>
</plist>
