<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>teach_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-13}</string>
                <key>spriteSize</key>
                <string>{263,267}</string>
                <key>spriteSourceSize</key>
                <string>{279,293}</string>
                <key>textureRect</key>
                <string>{{1,1},{263,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teach_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,263}</string>
                <key>spriteSourceSize</key>
                <string>{277,275}</string>
                <key>textureRect</key>
                <string>{{1,266},{257,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>teach_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{184,784},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teach_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{260,525},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teach_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{270,1},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teach_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{270,87},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teach_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,181}</string>
                <key>spriteSourceSize</key>
                <string>{181,181}</string>
                <key>textureRect</key>
                <string>{{1,784},{181,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teach_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,257}</string>
                <key>spriteSourceSize</key>
                <string>{257,257}</string>
                <key>textureRect</key>
                <string>{{1,525},{257,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teach_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{3,3}</string>
                <key>textureRect</key>
                <string>{{356,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>teach.png</string>
            <key>size</key>
            <string>{380,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a30607f72fa6c4cf46bffd2d060ebf80:d5c72839e690c5ffa3e7cb2915644adb:1c2eaf8f7930c15401d223d9ef222f53$</string>
            <key>textureFileName</key>
            <string>teach.png</string>
        </dict>
    </dict>
</plist>
